<!DOCTYPE html>
                    <html lang="en">
                    <head>
                        <meta charset="UTF-8">
                        <meta http-equiv="X-UA-Compatible" content="IE=edge">
                        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                        <title>Risultato</title>
                    </head>
                    <body>
                        Scansione terminata in 0:00:00.021716
                        <table border="1">
                        <tr>
                            <th>PORTA</th><th>STATO</th><th>SERVIZIO</th>
                        </tr><tr>
                            <td>4997</td><td>OFF</td><td>assente</td>
                        </tr><tr>
                            <td>4998</td><td>OFF</td><td>assente</td>
                        </tr><tr>
                            <td>4999</td><td>OFF</td><td>hfcs-manager</td>
                        </tr><tr>
                            <td>5000</td><td>ON</td><td>commplex-main</td>
                        </tr><tr>
                            <td>5001</td><td>OFF</td><td>commplex-link</td>
                        </tr><tr>
                            <td>5002</td><td>OFF</td><td>rfe</td>
                        </tr><tr>
                            <td>5003</td><td>OFF</td><td>fmpro-internal</td>
                        </tr></table>
                    </body>
                    </html>