<!DOCTYPE html>
                    <html lang="en">
                    <head>
                        <meta charset="UTF-8">
                        <meta http-equiv="X-UA-Compatible" content="IE=edge">
                        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                        <title>Risultato</title>
                    </head>
                    <body>
                        Scansione terminata in 0:00:07.277931
                        <table border="1">
                        <tr>
                            <th>PORTA</th><th>STATO</th><th>SERVIZIO</th>
                        </tr><tr>
                            <td>440</td><td>OFF</td><td>sgcp</td>
                        </tr><tr>
                            <td>441</td><td>OFF</td><td>decvms-sysmgt</td>
                        </tr><tr>
                            <td>442</td><td>OFF</td><td>cvc-hostd</td>
                        </tr><tr>
                            <td>443</td><td>ON</td><td>https</td>
                        </tr><tr>
                            <td>444</td><td>OFF</td><td>snpp</td>
                        </tr><tr>
                            <td>445</td><td>OFF</td><td>microsoft-ds</td>
                        </tr><tr>
                            <td>446</td><td>OFF</td><td>ddm-rdb</td>
                        </tr><tr>
                            <td>447</td><td>OFF</td><td>ddm-dfm</td>
                        </tr></table>
                    </body>
                    </html>