<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan di porte</title>
    <script src="/static/js/eventi.js"></script>
    <script src="/static/js/jquery.min.js"></script>
</head>
<body onload="main();">
    <input type="text" id="indirizzo_ip" value="indirizzo ip"><br>
    <input type="text" id="porta_min" value="porta minima"><br>
    <input type="text" id="porta_max" value="porta massima"><br>
    <input type="button" value="CONFERMA" onclick="conferma();">
</body>
</html>